body {
  background-image: url(./hsoub-logo.png);
  background-position: 95% 17px;
  background-repeat: no-repeat;
  background-size: 125px 40px;
  background-color: rgb(131, 5, 93);
}

.App {
  display: flex;
  margin-top: 4rem;
}

.preview-section {
  height: 600px;
  overflow: auto;
}

.sidebar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.sidbarTitle {
  font-size: large;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}
.addnew-note {
  position: absolute;
  left: -20px;
  top: 50%;
  width: 40px;
  height: 40px;
  line-height: 28px;
  background-color: #021db4;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  border: 0;
  cursor: pointer;
  color: #fff;
  outline: 0;
  z-index: 10;
  transform: translateY(-50%);
}
.notes-section {
  position: relative;
  width: 25%;
  background-color: #595f68;
  border-top-left-radius: 20px;
}

.preview-section {
  position: relative;
  width: 75%;
  padding: 10px 75px;
  box-sizing: border-box;
}

.note-item {
  cursor: pointer;
  padding: 12px 10px;
  font-size: 15px;
  color: #fff;
  border-bottom: 0.5px solid #fff;
}

.note-item.active {
  background-color: #573d7d;
}
.title {
  font-weight: bold;
  font-size: 2rem;
}
.subtitle {
  font-weight: lighter;
  font-size: 1rem;
}
.empty-notelist-div {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  gap: 0.2rem;
}
.empty-notelist-div h4 span {
  margin: 0.2rem;
}

.form-input {
  display: block;
  width: 100%;
  padding: 0.7rem 0.75rem;
  font-size: 1rem;
  font-family: cairo;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.note-operations {
  position: absolute;
  left: 10%;
  top: 6%;
  display: flex;
  justify-content: space-between;
  width: 60px;
  font-size: 20px;
  background-color: aqua;
}
.note-operations span {
  color: red;
}

.button {
  margin-top: 20px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 5px 60px;
  font-size: 20px;
}

.green {
  background: #28a745;
}

.center {
  text-align: center;
}

.alert-container {
  position: fixed;
  left: 10px;
  top: 10px;
  background: #f43a4c;
  min-width: 250px;
  border-radius: 5px;
}

.alert-container ul {
  font-size: 14px;
  color: #fff;
}

.delete-icon,
.update-icon {
  color: red;
}

.note-tools {
  display: flex;
  flex-direction: row;
  padding: 0.4rem;
  justify-content: space-between;
}
.note-tools-left-side {
  width: 20%;
  padding: 0.6rem;
}
.note-tools-right-side {
  width: 15%;
  padding: 0.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.note-tools-update-icon {
  color: #00be2c;
  cursor: pointer;
  font-weight: bold;
}
.note-tools-delete-icon {
  color: #f82222;
  cursor: pointer;
  font-weight: bold;
}

@media (max-width: 600px) {
  .notes-section {
    width: 30%;
  }
  .preview-section {
    width: 70%;
    padding: 10px 30px;
  }
}
